.react-calendar__navigation {
  display: none;
}

/* 요일  */
.react-calendar__month-view__weekdays abbr {
  display: none;
}

/* 일 날짜 간격 */
.react-calendar__tile {
  height: 30px;
  margin-bottom: 20px;
  position: relative;
}

/* 모든 날짜 숫자 스타일 */
.react-calendar__tile abbr {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

/* 공통 클래스 정의 */
.common-tile-style {
  @apply w-[20px] h-[20px] text-white rounded-[4px] flex items-center justify-center;
}

/* 오늘 날짜 */
.react-calendar__tile--now abbr {
  @apply bg-orange common-tile-style;
}

/* 오늘 날짜 (주황색 폰트) */
.react-calendar__tile.today abbr {
  @apply text-orange;
  background: none;
}

/* 클릭한 날짜 (회색 박스) */
.clicked-date abbr {
  @apply bg-brown  common-tile-style;
}

/* 걸은 거리가 있을 때 표시 */
.highlight-circle {
  position: relative;
}

.highlight-circle::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: rgba(26, 200, 185, 1);
  border-radius: 50%;
}
